Django
python-dotenv
djangorestframework
markdown
django-filter
django-cors-headers
djangorestframework-camel-case
djangorestframework-simplejwt
mixer
requests
drf-yasg
graphene
graphene-django
psycopg2-binary
