.create_project_form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid darkslategrey;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create_project_form input {
    padding: 5px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

.create_project_form select {
    padding: 5px;
    width: 100%;
    font-size: 14px;
    margin: 15px 0;
    height: 200px;
}

.create_project_form button{
    border-style: none;
    background: #00363b;
    padding: 10px 15px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    box-sizing: border-box;
}

.create_project_form button:hover{
    background: darkslategrey;
}

.create_project_form button:active{
    background: gray;
}
